<form class="addingPet" ng-submit="submit()">
  <label for="name">Name: </label>
  <input type="text" name="name" ng-model="newPet.name" required />
  <label for="animal">Animal: </label>
  <input type="text" name="animal" ng-model="newPet.animal" required />
  <label for="name">Age: </label>
  <input type="number" name="age" ng-model="newPet.age" required />
  <label for="url">Image URL: </label>
  <input type="text" name="url" ng-model="newPet.url" required/>
  <input type="submit"  />
</form>
